body{
	margin: 0;
	padding: 0;

}


.header, .hero, .body, .bar, .footer{
	background-color: cyan;
	text-align: center;
}
.box4{
	margin: 10px 0;
	min-height: 80px;
	background-color: #f55442;
	font-size: 30px;
	color: white;
}
.blue{
	margin: 10px 0;
	min-height: 80px;
	background-color: blue;
	font-size: 30px;
	color: white;
}
.teal{
	margin: 10px 0;
	min-height: 80px;
	background-color: teal;
	font-size: 30px;
	color: white;
}

.box5{
	width: 200px;
	min-height: 200px;
	background: #dddddd;

}
.box6{
	width: 100px;
	min-height: 100px;
	background: #dddddd;

}
